.hero86-header26 {
  gap: var(--dl-space-space-twounits);
}
.hero86-max-width {
  align-self: center;
}
.hero86-column {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.hero86-content {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.hero86-text {
  text-align: center;
}
.hero86-actions {
  gap: var(--dl-space-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
}
@media(max-width: 479px) {
  .hero86-actions {
    width: 100%;
    flex-direction: column;
  }
}

.data-sensitivity-case-study-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
