.hero810-header26 {
  gap: var(--dl-space-space-twounits);
}
.hero810-max-width {
  align-self: center;
}
.hero810-column {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.hero810-content {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.hero810-text {
  text-align: center;
}

.executive-summary-on-risk-identification-project-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.executive-summary-on-risk-identification-project-container2 {
  display: contents;
}
