.hero823-header26 {
  gap: var(--dl-space-space-twounits);
}
.hero823-max-width {
  align-self: center;
}
.hero823-column {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.hero823-content {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.hero823-text {
  text-align: center;
}

.reflection-of-the-module-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.reflection-of-the-module-container1 {
  width: 984px;
  height: 1084px;
}
.reflection-of-the-module-container2 {
  display: contents;
}
