.component2-container {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.component2-navbar-interactive {
  fill: var(--dl-color-theme-secondary1);
  color: var(--dl-color-theme-secondary1);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #fffdfd;
}
.component2-image1 {
  height: 3rem;
}
.component2-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.component2-navlink {
  display: contents;
}
.component2-links {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.component2-link1 {
  color: #f9f9f9;
}
.component2-burger-menu {
  display: none;
}
.component2-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.component2-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-light);
}
.component2-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.component2-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.component2-logo {
  height: 3rem;
}
.component2-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.component2-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.component2-links1 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.component2-buttons {
  gap: var(--dl-space-space-twounits);
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
}
@media(max-width: 767px) {
  .component2-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .component2-desktop-menu {
    display: none;
  }
  .component2-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .component2-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .component2-mobile-menu {
    padding: var(--dl-space-space-unit);
  }
}

.hero816-header26 {
  gap: var(--dl-space-space-twounits);
}
.hero816-max-width {
  align-self: center;
}
.hero816-column {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.hero816-content {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.hero816-text {
  text-align: center;
}
.hero816-actions {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
@media(max-width: 479px) {
  .hero816-actions {
    width: 100%;
    flex-direction: column;
  }
}

.regulations-for-generative-ai-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.regulations-for-generative-ai-container2 {
  display: contents;
}
