.hero820-header26 {
  gap: var(--dl-space-space-twounits);
}
.hero820-max-width {
  align-self: center;
}
.hero820-column {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.hero820-content {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.hero820-text {
  text-align: center;
}
.hero820-actions {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
@media(max-width: 479px) {
  .hero820-actions {
    width: 100%;
    flex-direction: column;
  }
}

.statistical-worksheets-for-unit68-and9-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.statistical-worksheets-for-unit68-and9-link {
  font-size: 40px;
  text-decoration: none;
}
.statistical-worksheets-for-unit68-and9-link1 {
  font-size: 40px;
  text-decoration: none;
}
.statistical-worksheets-for-unit68-and9-li2 {
  width: var(--dl-size-size-medium);
}
.statistical-worksheets-for-unit68-and9-link2 {
  font-size: 40px;
  text-decoration: none;
}
.statistical-worksheets-for-unit68-and9-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.statistical-worksheets-for-unit68-and9-container3 {
  display: contents;
}
.statistical-worksheets-for-unit68-and9-container5 {
  display: contents;
}
