.features115-layout251 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.features115-max-width {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.features115-column {
  gap: var(--dl-space-space-halfunit);
  align-items: flex-start;
  flex-shrink: 0;
}
.features115-content {
  gap: 48px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.features115-row {
  align-items: flex-start;
}
.features115-feature1 {
  flex: 1;
}
.features115-content1 {
  align-self: stretch;
  align-items: flex-start;
}
.features115-feature2 {
  flex: 1;
}
.features115-content2 {
  align-self: stretch;
  align-items: flex-start;
}
.features115-feature3 {
  flex: 1;
}
.features115-content3 {
  align-self: stretch;
  align-items: flex-start;
}
.features115-actions {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
@media(max-width: 991px) {
  .features115-section-title {
    align-items: flex-start;
    flex-direction: column;
  }
  .features115-feature1-image {
    height: 260px;
  }
  .features115-feature2-image {
    height: 260px;
  }
  .features115-feature3-image {
    height: 260px;
  }
}
@media(max-width: 767px) {
  .features115-column {
    width: 100%;
  }
  .features115-text1 {
    text-align: center;
  }
  .features115-row {
    flex-direction: column;
  }
  .features115-feature1-image {
    width: 100%;
  }
  .features115-feature2 {
    width: auto;
  }
  .features115-feature2-image {
    width: 100%;
  }
  .features115-feature3 {
    width: auto;
  }
  .features115-actions {
    flex-wrap: wrap;
  }
}
@media(max-width: 479px) {
  .features115-actions {
    width: 100%;
    flex-direction: column;
  }
  .features115-button {
    width: 100%;
  }
  .features115-button1 {
    width: 100%;
  }
}
