.features123-layout251 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.features123-max-width {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.features123-column {
  gap: var(--dl-space-space-halfunit);
  align-items: flex-start;
  flex-shrink: 0;
}
.features123-content {
  gap: 48px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.features123-row {
  align-items: flex-start;
}
.features123-feature1 {
  flex: 1;
}
.features123-content1 {
  align-self: stretch;
  align-items: flex-start;
}
.features123-feature2 {
  flex: 1;
}
.features123-content2 {
  align-self: stretch;
  align-items: flex-start;
}
.features123-feature3 {
  flex: 1;
}
.features123-content3 {
  align-self: stretch;
  align-items: flex-start;
}
.features123-actions {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
@media(max-width: 991px) {
  .features123-section-title {
    align-items: flex-start;
    flex-direction: column;
  }
  .features123-feature1-image {
    height: 260px;
  }
  .features123-feature2-image {
    height: 260px;
  }
  .features123-feature3-image {
    height: 260px;
  }
}
@media(max-width: 767px) {
  .features123-column {
    width: 100%;
  }
  .features123-text1 {
    text-align: center;
  }
  .features123-row {
    flex-direction: column;
  }
  .features123-feature1-image {
    width: 100%;
  }
  .features123-feature2 {
    width: auto;
  }
  .features123-feature2-image {
    width: 100%;
  }
  .features123-feature3 {
    width: auto;
  }
  .features123-actions {
    flex-wrap: wrap;
  }
}
@media(max-width: 479px) {
  .features123-actions {
    width: 100%;
    flex-direction: column;
  }
  .features123-button {
    width: 100%;
  }
  .features123-button1 {
    width: 100%;
  }
}
