.hero819-header26 {
  gap: var(--dl-space-space-twounits);
}
.hero819-max-width {
  align-self: center;
}
.hero819-column {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.hero819-content {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.hero819-text {
  text-align: center;
}
.hero819-actions {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
@media(max-width: 479px) {
  .hero819-actions {
    width: 100%;
    flex-direction: column;
  }
}
