.hero85-header26 {
  gap: var(--dl-space-space-twounits);
}
.hero85-max-width {
  align-self: center;
}
.hero85-column {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.hero85-content {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.hero85-text {
  text-align: center;
}
.hero85-actions {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
@media(max-width: 479px) {
  .hero85-actions {
    width: 100%;
    flex-direction: column;
  }
}
