.hero88-header26 {
  gap: var(--dl-space-space-twounits);
}
.hero88-max-width {
  align-self: center;
}
.hero88-column {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.hero88-content {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.hero88-text {
  text-align: center;
}
.hero88-actions {
  gap: var(--dl-space-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
}
@media(max-width: 479px) {
  .hero88-actions {
    width: 100%;
    flex-direction: column;
  }
}
