.logos121-container {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.logos121-max-width {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.logos121-text {
  text-align: center;
}
.logos121-logo1 {
  object-fit: contain;
}
.logos121-logo2 {
  object-fit: contain;
}
.logos121-logo3 {
  object-fit: contain;
}
.logos121-logo4 {
  object-fit: contain;
}
.logos121-logo5 {
  object-fit: contain;
}
.logos121-logo6 {
  object-fit: contain;
}
@media(max-width: 767px) {
  .logos121-container {
    gap: var(--dl-space-space-twounits);
  }
  .logos121-max-width {
    gap: var(--dl-space-space-twounits);
  }
}
