.logos17-container {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.logos17-max-width {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.logos17-text {
  text-align: center;
}
.logos17-logo1 {
  object-fit: contain;
}
.logos17-logo2 {
  object-fit: contain;
}
.logos17-logo3 {
  object-fit: contain;
}
.logos17-logo4 {
  object-fit: contain;
}
.logos17-logo5 {
  object-fit: contain;
}
.logos17-logo6 {
  object-fit: contain;
}
@media(max-width: 767px) {
  .logos17-container {
    gap: var(--dl-space-space-twounits);
  }
  .logos17-max-width {
    gap: var(--dl-space-space-twounits);
  }
}
