.logos18-container {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.logos18-max-width {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.logos18-text {
  text-align: center;
}
.logos18-logo1 {
  object-fit: contain;
}
.logos18-logo2 {
  object-fit: contain;
}
.logos18-logo3 {
  object-fit: contain;
}
.logos18-logo4 {
  object-fit: contain;
}
.logos18-logo5 {
  object-fit: contain;
}
.logos18-logo6 {
  object-fit: contain;
}
@media(max-width: 767px) {
  .logos18-container {
    gap: var(--dl-space-space-twounits);
  }
  .logos18-max-width {
    gap: var(--dl-space-space-twounits);
  }
}
