.logos19-container {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.logos19-max-width {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.logos19-text {
  text-align: center;
}
.logos19-logo1 {
  object-fit: contain;
}
.logos19-logo2 {
  object-fit: contain;
}
.logos19-logo3 {
  object-fit: contain;
}
.logos19-logo4 {
  object-fit: contain;
}
.logos19-logo5 {
  object-fit: contain;
}
.logos19-logo6 {
  object-fit: contain;
}
@media(max-width: 767px) {
  .logos19-container {
    gap: var(--dl-space-space-twounits);
  }
  .logos19-max-width {
    gap: var(--dl-space-space-twounits);
  }
}
