.team120-max-width {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.team120-section-title {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.team120-content {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team120-content01 {
  gap: var(--dl-space-space-sixunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team120-content02 {
  gap: 64px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.team120-row {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.team120-container {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.team120-card {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 500px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.team120-placeholder-image {
  width: 80px;
  height: 80px;
}
.team120-content03 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team120-title {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team120-text03 {
  font-style: normal;
  font-weight: 600;
}
.team120-text04 {
  text-align: center;
}
.team120-text05 {
  text-align: center;
}
.team120-social-icons {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team120-card1 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 500px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.team120-placeholder-image1 {
  width: 80px;
  height: 80px;
}
.team120-content04 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team120-title1 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team120-text06 {
  font-style: normal;
  font-weight: 600;
}
.team120-text07 {
  text-align: center;
}
.team120-text08 {
  text-align: center;
}
.team120-social-icons1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team120-container1 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.team120-card2 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 500px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.team120-placeholder-image2 {
  width: 80px;
  height: 80px;
}
.team120-content05 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team120-title2 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team120-text09 {
  font-style: normal;
  font-weight: 600;
}
.team120-text10 {
  text-align: center;
}
.team120-text11 {
  text-align: center;
}
.team120-social-icons2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team120-card3 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 500px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.team120-placeholder-image3 {
  width: 80px;
  height: 80px;
}
.team120-content06 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team120-title3 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team120-text12 {
  font-style: normal;
  font-weight: 600;
}
.team120-text13 {
  text-align: center;
}
.team120-text14 {
  text-align: center;
}
.team120-social-icons3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team120-row1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.team120-container2 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.team120-card4 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 500px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.team120-placeholder-image4 {
  width: 80px;
  height: 80px;
}
.team120-content07 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team120-title4 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team120-text15 {
  font-style: normal;
  font-weight: 600;
}
.team120-text16 {
  text-align: center;
}
.team120-text17 {
  text-align: center;
}
.team120-social-icons4 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team120-card5 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 500px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.team120-placeholder-image5 {
  width: 80px;
  height: 80px;
}
.team120-content08 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team120-title5 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team120-text18 {
  font-style: normal;
  font-weight: 600;
}
.team120-text19 {
  text-align: center;
}
.team120-text20 {
  text-align: center;
}
.team120-social-icons5 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team120-container3 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.team120-card6 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 500px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.team120-placeholder-image6 {
  width: 80px;
  height: 80px;
}
.team120-content09 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team120-title6 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team120-text21 {
  font-style: normal;
  font-weight: 600;
}
.team120-text22 {
  text-align: center;
}
.team120-text23 {
  text-align: center;
}
.team120-social-icons6 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team120-card7 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 500px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.team120-placeholder-image7 {
  width: 80px;
  height: 80px;
}
.team120-content10 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team120-title7 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team120-text24 {
  font-style: normal;
  font-weight: 600;
}
.team120-text25 {
  text-align: center;
}
.team120-text26 {
  text-align: center;
}
.team120-social-icons7 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team120-content11 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-direction: column;
}
.team120-content12 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.team120-button {
  width: 100%;
  max-width: 300px;
}
@media(max-width: 991px) {
  .team120-content01 {
    gap: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .team120-row {
    align-items: center;
    flex-direction: column;
  }
  .team120-row1 {
    align-items: center;
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .team120-text {
    text-align: center;
  }
  .team120-text01 {
    text-align: center;
  }
  .team120-text02 {
    text-align: center;
  }
  .team120-container {
    flex-direction: column;
  }
  .team120-container1 {
    flex-direction: column;
  }
  .team120-container2 {
    flex-direction: column;
  }
  .team120-container3 {
    flex-direction: column;
  }
  .team120-text27 {
    text-align: center;
  }
  .team120-text28 {
    text-align: center;
  }
  .team120-button {
    width: 100%;
  }
}
