<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Trim Prime Cockroach</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-theme-neutral-dark);
        background-color: var(--dl-color-theme-neutral-light);

        fill: var(--dl-color-theme-neutral-dark);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./testimonial171.css" rel="stylesheet" />
      <div class="thq-section-padding">
        <div class="testimonial171-max-width thq-section-max-width">
          <div class="testimonial171-container">
            <h2 class="thq-heading-2"><span>Testimonials</span></h2>
            <span class="testimonial171-text01 thq-body-small">
              <span>
                Nisa's expertise in cybersecurity helped us secure our network
                effectively. Highly recommended!
              </span>
            </span>
          </div>
          <div class="thq-grid-2">
            <div class="thq-animated-card-bg-2">
              <div class="thq-animated-card-bg-1">
                <div data-animated="true" class="thq-card testimonial171-card">
                  <div class="testimonial171-container02">
                    <img
                      alt="Image of John Doe, CEO of Tech Inc."
                      src="https://images.unsplash.com/photo-1608932931398-80f38fc81740?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcxNzM2MjY1NXw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                      class="testimonial171-image"
                    />
                    <div class="testimonial171-container03">
                      <strong class="thq-body-large">
                        <span>John Doe</span>
                      </strong>
                      <span class="thq-body-small">
                        <span>CEO, Tech Inc.</span>
                      </span>
                    </div>
                  </div>
                  <span class="testimonial171-text04 thq-body-small">
                    <span>
                      Nisa's expertise in cybersecurity helped us secure our
                      network effectively. Highly recommended!
                    </span>
                  </span>
                </div>
              </div>
            </div>
            <div class="thq-animated-card-bg-2">
              <div class="thq-animated-card-bg-1">
                <div data-animated="true" class="thq-card testimonial171-card1">
                  <div class="testimonial171-container04">
                    <img
                      alt="Image of Jane Smith, CTO of Data Co."
                      src="https://images.unsplash.com/photo-1527525443983-6e60c75fff46?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcxNzM2MjY1Nnw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                      class="testimonial171-image1"
                    />
                    <div class="testimonial171-container05">
                      <strong class="thq-body-large">
                        <span>Jane Smith</span>
                      </strong>
                      <span class="thq-body-small">
                        <span>CTO, Data Co.</span>
                      </span>
                    </div>
                  </div>
                  <span class="testimonial171-text07 thq-body-small">
                    <span>
                      Nisa's knowledge in network security is unparalleled. We
                      saw immediate improvements in our systems after her
                      consultation.
                    </span>
                  </span>
                </div>
              </div>
            </div>
            <div class="thq-animated-card-bg-2">
              <div class="thq-animated-card-bg-1">
                <div data-animated="true" class="thq-card testimonial171-card2">
                  <div class="testimonial171-container06">
                    <img
                      alt="Image of David Johnson, CISO of SecureTech"
                      src="https://images.unsplash.com/photo-1490585639275-bd19bcafe620?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcxNzM2MjY1Nnw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                      class="testimonial171-image2"
                    />
                    <div class="testimonial171-container07">
                      <strong class="thq-body-large">
                        <span>David Johnson</span>
                      </strong>
                      <span class="thq-body-small">
                        <span>CISO, SecureTech</span>
                      </span>
                    </div>
                  </div>
                  <span class="testimonial171-text10 thq-body-small">
                    <span>
                      Working with Nisa on security risk management was a
                      game-changer for our company. Her insights were
                      invaluable.
                    </span>
                  </span>
                </div>
              </div>
            </div>
            <div class="thq-animated-card-bg-2">
              <div class="thq-animated-card-bg-1">
                <div data-animated="true" class="thq-card testimonial171-card3">
                  <div class="testimonial171-container08">
                    <img
                      alt="Image of Emily Brown, Head of IT at SafeNet"
                      src="https://images.unsplash.com/photo-1636622433525-127afdf3662d?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcxNzM2MjY1Nnw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                      class="testimonial171-image3"
                    />
                    <div class="testimonial171-container09">
                      <strong class="thq-body-large">
                        <span>Emily Brown</span>
                      </strong>
                      <span class="thq-body-small">
                        <span>Head of IT, SafeNet</span>
                      </span>
                    </div>
                  </div>
                  <span class="testimonial171-text13 thq-body-small">
                    <span>
                      Nisa's portfolio showcases her exceptional skills in
                      cybersecurity. We look forward to future collaborations.
                    </span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      defer=""
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
  </body>
</html>
